repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint-fix
        exclude: "(CODE_OF_CONDUCT.md|LICENSE.md|CONTRIBUTING.md|links.md|workflows)"
